body{
    font-family: "italiana", serif;
    font-weight: 400;
}
.container{
    background-color: #d9d9d9;
    margin: 130px;
    padding: 20px;
}
ul{
    list-style-type: none;
}
#joke{
    font-size: 20px;
}
#work{
    font-size: 26px;
}
#backtolobbybutton{
    border: none;
    background: none;
}